EXPO_PUBLIC_SUPABASE_URL=your-supabase-url
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93cWtpYXB1a21uaXF6bHlkeHltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwMjA4MTEsImV4cCI6MjEwNjU5NjgxMX0._crkF_wLrBZirbkpI-tpoSVFWvaBtNtqrHWyhzICe00
